<!DOCTYPE html>
<html lang="en">
   <head></head>
   <body>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-m">
            <div class="modal-content">
               <div class="modal-body" style="border-radius: 20px;">
                  <div class="modal-login">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                     </button>
                     <h1>Welcome back!</h1>
                     <p>Enter your username and password to log in to your admin panel</p>
                     <label>Email</label>
                     <input type="email" name="uname" placeholder="example@gmail.com" required/>
                     <label>Password</label>
                     <input type="password" name="psw" placeholder="Your Password" required/>
                     <label>
                     <input type="checkbox" checked="checked" name="remember"> Remember me
                     </label>
                     <button id="btn-login">Log in</button>
                     <button id="btn-g-login">Log in with Google</button>
                     <p>Don't have an account yet? <a data-toggle="modal" data-hide="#exampleModal" data-target="#exampleModal1"><b>Sign Up</b></a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-m">
            <div class="modal-content">
               <div class="modal-body" style="border-radius: 20px;">
                  <div class="modal-login">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                     </button>
                     <h1>Sign up</h1>
                     <p>Register to log in to your admin panel</p>
                     <label>Email</label>
                     <input type="email" name="uname" placeholder="example@gmail.com" required/>
                     <div class="signup-psw">
                        <div class="signup-password">
                           <label>Password</label>
                           <input type="password" name="psw" placeholder="Your Password" required/>
                        </div>
                        <div class="signup-confirm-password">
                           <label>Confirm Password</label>
                           <input type="password" name="psw" placeholder="Confirm Password" required/>
                        </div>
                     </div>
                     <label>
                     <input type="checkbox" checked="checked" name="remember"> I have read and accept terms and conditions
                     </label>
                     <button id="btn-login">Sign Up</button>
                     <button id="btn-g-login">Sign Up with Google</button>
                     <p>Have an account? <a data-toggle="modal" data-target="#exampleModal"><b>Sign in</b></a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container-1">
            <h1 class="head-1">Welcome to <span style="font-family: alifira;">IAM DIGIPRO</span></h1>
            <h2 class="head-2">Meet Our <span style="font-family: alifira;">Team</span></h2>
            <p class="para-1">Experts in Digital Marketing, Web Development,<br>
               Graphic Design and More!
            </p>
         </div>
         <div class="container-2">
            <div class="logo">
               <header>
                  <div>
                     <span class="small-heading"><i class="fa-solid fa-arrow-right arrow"></i> Why choose us</span>
                  </div>
               </header>
            </div>
         </div>
         <div class="sub-container-2">
            <p class="para-3"><span style="padding-left: 20%;">we deliver a seamless combination</span>
               of creativity and proficiency in digital marketing, web development, graphic design, consulting, and influencer marketing.
            </p>
            <p class="paragraph-1">Our team is a diverse group of professionals specializing in digital marketing, web-development, graphic design,
               consulting and influencer marketing. With a commitment to excellence and innovation, we work collaboratively to deliver
               outstanding results for our clients. Meet the experts who drive our success and make your vision a reality.
            </p>
         </div>
         <div class="hover-container">
            <div class="background-circle"></div>
            <div class="container">
               <div class="content">
                  <div class="label-1">
                     <div><i class=" people-i fa-solid fa-arrow-right"></i><span>People</span></div>
                  </div>
                  <h1>Our Diverse Team of Digital Mavericks:</h1>
                  <h1> Crafting Creativity, Driving Success</h1>
               </div>
            </div>
         </div>
         <div class="about-container">
            <div>
               <!-- <top> -->
               <div>
                  <span class="small-heading"><i class="fa-solid fa-arrow-right arrow"></i> Values</span>
               </div>
               <!-- </top> -->
            </div>
            <div class="matter">
               <p class="values-para"><span style="padding-left: 9% ;">At Iam Digipro, we deliver creative digital</span>
                  solutions to help businesses thrive. Our vision is to lead in <span style="font-family: alifira;">innovation, driving growth and success for </span>our clients.
               </p>
               <div class="slots">
                  <div class="slot">
                     <div class="slot-number">01</div>
                     <div class="slot-content">
                        <h3><b>Innovative Excellence</b></h3>
                        <p>We strive for excellence by continuously embracing innovation, ensuring our solutions are always cutting-edge and impactful.</p>
                     </div>
                  </div>
                  <div class="slot">
                     <div class="slot-number">02</div>
                     <div class="slot-content">
                        <h3><b>Creative Synergy</b></h3>
                        <p>Our team thrives on creativity and collaboration, working together to produce imaginative and effective results for our clients.</p>
                     </div>
                  </div>
                  <div class="slot">
                     <div class="slot-number">03</div>
                     <div class="slot-content">
                        <h3><b>Integrity-Driven Solutions</b></h3>
                        <p>We uphold the highest standards of integrity, delivering honest, reliable, and ethical solutions to our clients.</p>
                     </div>
                  </div>
                  <div class="slot">
                     <div class="slot-number">04</div>
                     <div class="slot-content">
                        <h3><b>Client-Centric Collaboration</b></h3>
                        <p>Our clients are at the heart of everything we do. We collaborate closely with them to understand their needs and achieve their goals.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- enquiry-form -->
      <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
         <div class="enquiry-form">
            <div>
               <span class="small-heading"><i class="fa-solid fa-arrow-right arrow"></i> Enquiry</span>
            </div>
            <div class="left-side">
               <p>Ready to elevate your <br> brand online? <br>
                  <span class="span">Get a Free Consultation<br> Today!</span>
               </p>
            </div>
            <div class="enquiry-background-container">
               <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
            </div>
         </div>
         <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
            <form>
               <h2>I am Interested in</h2>
               <div class="interest-buttons">
                  <div>
                     <button type="button"><span> Marketing</span></button>
                     <button type="button"><span>Web Development</span></button>
                  </div>
                  <div>
                     <button type="button"><span>Graphic Design</span></button>
                     <button type="button"><span>Consulting</span></button>
                     <button type="button"><span>Influencer Marketing</span></button>
                  </div>
               </div>
               <label for="name">I am</label>
               <input type="text" id="name" name="name" placeholder="John" required>
               <label for="Phone">Phone number</label>
               <input type="phone" id="phone" name="phone" required>
               <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
               <input type="email" id="email" name="email" placeholder="iam@gmail.com">
               <button type="submit" class="enquiry-send-button"><span>Send</span></button>
            </form>
         </div>
      </div>
   </body>
</html>