<!DOCTYPE html>
<html lang="en">
<head>
</head> 
<body>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-body" style="border-radius: 20px;">
                <div class="modal-login">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                    <h1>Welcome back!</h1>
                    <p>Enter your username and password to log in to your admin panel</p>
                    <label>Email</label>
                    <input type="email" name="uname" placeholder="example@gmail.com" required/>
                    <label>Password</label>
                    <input type="password" name="psw" placeholder="Your Password" required/>
                    <label>
                    <input type="checkbox" checked="checked" name="remember">Remember me
                    </label>
                    <button id="btn-login">Log in</button>
                    <button id="btn-g-login">Log in with Google</button>
                    <p>Don't have an account yet? <a data-toggle="modal" data-hide="#exampleModal" data-target="#exampleModal1"><b>Sign Up</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
  
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"> 
        <div class="modal-content">
            <div class="modal-body" style="border-radius: 20px;">
                <div class="modal-login">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                    </button>
                    <h1>Sign up</h1>
                    <p>Register to log in to your admin panel</p>
                    <label>Email</label>
                    <input type="email" name="uname" placeholder="example@gmail.com" required/>
                    <div class="signup-psw">
                    <div class="signup-password">
                        <label>Password</label>
                        <input type="password" name="psw" placeholder="Your Password" required/>
                        </div>
                        <div class="signup-confirm-password">
                            <label>Confirm Password</label>
                            <input type="password" name="psw" placeholder="Confirm Password" required/>
                        </div>
                    </div>
                        <label>
                            <input type="checkbox" checked="checked" name="remember">I have read and accept terms and conditions
                        </label>
                        <button id="btn-login">Sign Up</button>
                        <button id="btn-g-login">Sign Up with Google</button>
                        <p>Have an account? <a data-toggle="modal" data-target="#exampleModal"><b>Sign in</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- HTML -->

<div class="contact-section">
    <div class="contact-bg">
        <!-- <h>Consult Us</h> -->
        <h1>Consult Us</h1>
    </div>
</div>

<div class="scroll-container-wrapper">
    <div class="scroll-container">
        <div class="container">
            <div class="box" style="background-color: #ffd5ba;">
                <div class="box-content">
                    <span>01</span>
                    <h3>Digital Marketing</h3>
                    <p>We enhance your online presence and drive engagement through advanced SEO, social media, content marketing, and paid advertising strategies.</p>
                    <div class="tags">
                        <div class="tag">Search Engine Optimization</div>
                        <div class="tag">Pay-Per-Click</div>
                        <div class="tag">Social Media Marketing</div>
                        <div class="tag">Content Marketing</div>
                        <div class="tag">Email Marketing</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #fcebbc;">
                <div class="box-content">
                    <span>02</span>
                    <h3>Web/App Development</h3>
                    <p>We create responsive, user-friendly websites using the latest technologies to ensure they are fast, secure, and scalable.</p>
                    <div class="tags">
                        <div class="tag">Frontend Development</div>
                        <div class="tag">Backend Development</div>
                        <div class="tag">Full-stack Development</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #bafdff;">
                <div class="box-content">
                    <span>03</span>
                    <h3>Graphic/UI Design</h3>
                    <p>Our graphic services establish a strong brand identity with visually stunning, high-quality designs that captivate and engage your audience.</p>
                    <div class="tags">
                        <div class="tag">Branding</div>
                        <div class="tag">Logo Design</div>
                        <div class="tag">UI/UX Design</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #e0d9ff;">
                <div class="box-content">
                    <span>04</span>
                    <h3>IT Consulting</h3>
                    <p>We provide expert IT consulting services, helping businesses develop and implement effective IT strategies to drive growth and success.</p>
                    <div class="tags">
                        <div class="tag">IT Strategy</div>
                        <div class="tag">Cloud Solutions</div>
                        <div class="tag">Cybersecurity</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #c5baff;">
                <div class="box-content">
                    <span>05</span>
                    <h3>Influencer Marketing</h3>
                    <p>We connect you with the right influencers to amplify your brand's message and reach a wider audience through data-driven, tailored strategies for maximum impact and ROI.</p>
                    <div class="tags">
                        <div class="tag">Campaign Strategy</div>
                        <div class="tag">Influencer Outreach</div>
                        <div class="tag">Brand Partnerships</div>
                        <div class="tag">Content Creating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="left-section">
        <h5>I am Digipro and we are here to serve!</h5>
        <h5>How can we help you?</h5>
        <h4 style="padding:15px 0px;">Our Location</h4>
        <p style="font-size: medium;">India<br>
            HUDA COLONY Chandanagar Hyderabad<br>
        Mon – Fri: 9:30 AM – 6:00 PM<br>
        (040) 66746684<br>
        +91 93817 76396
    </p>
        <!-- <p style="font-size: medium;">Email us at:<br>
        info@iamdigipro.com</p> -->
        <div class="map-image">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.695086108094!2d78.37834391483237!3d17.493360403492503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90dbe37eeacd%3A0x8a505b7427e4ff!2sManjeera%20Majestic%20Commercial%2C%20JNTU%20Rd%2C%20Kukatpally%20Housing%20Board%20Colony%2C%20Kukatpally%2C%20Hyderabad%2C%20Telangana%20500085!5e0!3m2!1sen!2sin!4v1594216394392!5m2!1sen!2sin" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    <div class="right-section">
        <form class="modal-form">
            <h2 style="margin-top: 1.5vw;">I am Interested in</h2>
            <div class="interest-buttons-btn">
                <div>
                    <button type="button">Digital Marketing</button>
                    <button type="button">Web Development</button>
                </div>
                <div>
                    <button type="button">Graphic Design</button>
                    <button type="button">Consulting</button>
                    <button type="button">Influencer Marketing</button>
                </div>
            </div>
            <label for="name">I am</label>
            <input type="text" id="name" name="name" placeholder="John" required>
            <div class="abcd">
                <div class="matter">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="iam@gmail.com" required style="padding: 3% 0;">
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    <div class="input-box">
                        <label for="company">Company (optional)</label>
                        <input type="text" id="company" name="company">
                        <label for="website">Website (optional)</label>
                        <input type="text" id="website" name="website">
                    </div>
                </div>
            </div>
            <label for="message">Message</label>
            <textarea id="message" name="message" style="width: 95%; border-radius: 10px;"></textarea>
            <div class="checkbox-container">
                <input type="checkbox" checked="checked" name="remember">
                <span>I have read and accepted the terms and conditions and Privacy Policy</span>
            </div>
            <button type="submit" class="send-button-btn" style="width: 95%;">Send</button>
        </form>
    </div>
    
</div>   
<style>
    #social-icons-list {
        padding: 100px 0;
        border-radius: 25px;
        overflow: hidden;
    }
    .values-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
        margin-left: 5%;
    }
    .values-list div {
        color: #000;
        background: #fff;
        padding: 40px;
        font-size: 18px;
        font-weight: 300;
        border-radius: 30px;
        transition: background 0.5s, transform 0.5s;
        text-align: center;
    }
    .values-list div i {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .values-list div h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .values-list div:hover {
        border-radius: 100%;
        background: #f66136;
        transform: translateY(-10px);
    }
    .values-list a {
        text-decoration: none;
        color: inherit;
    }
    .small-heading {
        font-size: 20px;
        font-weight: 100;
        font-style: italic;
    }
    .arrow {
        background-color: #f66136;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        margin-left: 20px;
        transform: rotate(45deg);
        margin-right: 10px;
    }
    @media (max-width: 768px) {
        .values-list {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
        }
        .values-list div {
            display: inline-block;
            flex: 0 0 auto;
            min-width: 250px;
            margin-right: 10px;
        }
    }
</style>
<div id="social-icons-list">
    <div>
        <span class="small-heading"><i class="fa-solid fa-arrow-right arrow"></i> Social</span>
    </div>
    <div class="values-list">
        <div>
            <a href="https://www.instagram.com/iam_digipro?igsh=MzRlODBiNWFlZA==" target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <h2>Instagram</h2>
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=61560868171435" target="_blank">
                <i class="fa-brands fa-facebook"></i>
                <h2>Facebook</h2>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/iam-digipro-127123313" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                <h2>LinkedIn</h2>
            </a>
        </div>
        <div>
            <a href="https://x.com/iamdigipro" target="_blank">
                <i class="fa-brands fa-twitter"></i>
                <h2>Twitter</h2>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/@IamDigitalPro/featured" target="_blank">
                <i class="fa-brands fa-youtube"></i>
                <h2>YouTube</h2>
            </a>
        </div>
    </div>
</div>
  

</body>
</html>