<!DOCTYPE html>
<html lang="en">
<head>    
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m">
            <div class="modal-content">
                <div class="modal-body" style="border-radius: 20px;">
                    <div class="modal-login">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                        </button>
                        <h1>Welcome back!</h1>
                        <p>Enter your username and password to log in to your admin panel</p>
                        <label>Email</label>
                        <input type="email" name="uname" placeholder="example@gmail.com" required/>
                        <label>Password</label>
                        <input type="password" name="psw" placeholder="Your Password" required/>
                        <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        <button id="btn-login">Log in</button>
                        <button id="btn-g-login">Log in with Google</button>
                        <p>Don't have an account yet? <a data-toggle="modal" data-hide="#exampleModal" data-target="#exampleModal1"><b>Sign Up</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m"> 
            <div class="modal-content">
                <div class="modal-body" style="border-radius: 20px;">
                    <div class="modal-login">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa-solid fa-circle-xmark"></i></span>
                        </button>
                        <h1>Sign up</h1>
                        <p>Register to log in to your admin panel</p>
                        <label>Email</label>
                        <input type="email" name="uname" placeholder="example@gmail.com" required/>
                        <div class="signup-psw">
                        <div class="signup-password">
                            <label>Password</label>
                            <input type="password" name="psw" placeholder="Your Password" required/>
                            </div>
                            <div class="signup-confirm-password">
                                <label>Confirm Password</label>
                                <input type="password" name="psw" placeholder="Confirm Password" required/>
                            </div>
                        </div>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> I have read and accept terms and conditions
                            </label>
                            <button id="btn-login">Sign Up</button>
                            <button id="btn-g-login">Sign Up with Google</button>
                            <p>Have an account? <a data-toggle="modal" data-target="#exampleModal"><b>Sign in</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
<!--front-page-->

    <div class="knowmore-top-contaner">
        <div class="redirect-buttons">
            <a href="SEOserviceKnowmorePage.html"><button>SEO</button></a>
            <a href="PPCKnowmorePage.html"><button>PCC</button></a>
            <a href="SocialmediaKnowmorePage.html"><button>SMM</button></a>
            <a href="contentMarketingKnowmorePage.html"><button>Content Marketing</button></a>
            <a href="emailMarketingKnowmorePage.html"><button>Email Marketing</button></a>
        </div>
        <h1>Drive Traffic and Grow Your Business with<br>Expert <span>SEO Services</span></h1>
    </div>

    <div class="knowmore-bottom-contaner">    
        <!-- <div class="arrow d-flex flex-row justify-content-center" style="margin-top: 5%;">
            <i class="fa-solid fa-arrow-right arr-right"></i>
            <h1 class="services-ser ">Overview</h1>
        </div>  -->
        <p class="overview-description text-center">Discover how <b>IAM Digipro</b> can transform your online presence through expert SEO strategies. We specialize in boosting your visibility in search results, ensuring your business attracts quality traffic that converts into leads and sales.</p>

        <div class="container d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card" style="margin-right: 10%;">    
                        <!-- <div class="arrow d-flex flex-row justify-content-start" style="margin-top: 15%;">
                            <i class="fa-solid fa-arrow-right arr-right"></i>
                            <h1 class="services-ser ">Why SEO is Essential for Your Business Growth</h1>
                        </div>  -->

                        <div class="mb-5">
                            <h1 class="overview-description pb-4"><b>Why does your business need SEO? It's not just about rankings; it's about connecting with your audience when they need you most. IAM Digipro's SEO services help you</b></h1>
                            <ul class="overview-description">
                                <li class="pb-3">Drive targeted traffic to your website.</li>
                                <li class="pb-3">Build industry authority and trust.</li>
                                <li class="pb-3">Increase brand visibility and awareness.</li>
                                <li class="pb-3">Achieve sustainable growth with strategies designed for long-term success.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="https://res.cloudinary.com/douitd8ad/image/upload/v1720076239/seo_1_py8gqj.jpg" alt="seo-image" alt="seo-image" class="image"/>
                </div>
            </div>
        </div>

        <div class="container d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="https://res.cloudinary.com/douitd8ad/image/upload/v1720076239/SEO_2_rctyna.avif" alt="seo-image" class="image"/>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card">
                        <!-- <div class="arrow d-flex flex-row justify-content-start" style="margin-top: 15%;">
                            <i class="fa-solid fa-arrow-right arr-right"></i>
                            <h1 class="services-ser ">What IAM Digipro Offers with Our SEO Services</h1>
                        </div>  -->

                        <div class="mb-5">
                            <h1 class="overview-description pb-4"><b>What IAM Digipro Offers with Our SEO Services</b></h1>
                            <ul class="overview-description">
                                <li class="pb-3">Thorough keyword research and analysis.</li>
                                <li class="pb-3">On-page and technical SEO optimizations.</li>
                                <li class="pb-3">Content strategy and creation.</li>
                                <li class="pb-3">Continuous monitoring and adjustment based on performance metrics.</li>
                                <li class="pb-3">Proactive adaptation to industry trends and search engine algorithm updates.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-block d-lg-none">
                    <img src="https://res.cloudinary.com/douitd8ad/image/upload/v1720076239/SEO_2_rctyna.avif" alt="seo-image" class="image"/>
                </div>
            </div>
        </div>


        <div class="container d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card"  style="margin-right: 10%;">    
                        <!-- <div class="arrow d-flex flex-row justify-content-start" style="margin-top: 15%;">
                            <i class="fa-solid fa-arrow-right arr-right"></i>
                            <h1 class="services-ser ">Why Choose IAM Digipro for Your SEO Strategy?</h1>
                        </div>  -->

                        <div class="mb-5">
                            <h1 class="overview-description pb-4"><b>Partner with IAM Digipro and benefit from</b></h1>
                            <ul class="overview-description">
                                <li class="pb-3">Customized strategies aligned with your goals.</li>
                                <li class="pb-3">Transparent reporting and performance metrics.</li>
                                <li class="pb-3">Proactive client communication and support.</li>
                                <li class="pb-3">Demonstrated success with case studies and testimonials</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="https://res.cloudinary.com/douitd8ad/image/upload/v1720076236/SE0_3_kgk9vo.jpg" alt="seo-image" class="image"/>
                </div>
            </div>
        </div>

        <!-- <div class="arrow d-flex flex-row justify-content-center" style="margin-top: 10%;">
            <i class="fa-solid fa-arrow-right arr-right"></i>
            <h1 class="services-ser">Common SEO Challenges for business</h1>
        </div>  -->
        
        <p class="overview-description text-center"><b>Navigate common SEO hurdles with IAM Digipro's expertise</b></p>
        <div class="d-flex flex-row justify-content-center">
            <div class="commmon-seo-card">Adapting to algorithm changes.</div>
            <div class="commmon-seo-card">Overcoming competitive landscapes.</div>
            <div class="commmon-seo-card">Optimizing technical aspects.</div>
            <div class="commmon-seo-card">maintaining high-quality relevant content.</div>
        </div>

        <!-- <div class="arrow d-flex flex-row justify-content-center" style="margin-top: 10%;">
            <i class="fa-solid fa-arrow-right arr-right"></i>
            <h1 class="services-ser">SEO Tools</h1>
        </div> -->
        <p class="overview-description text-center"><b>Learning SEO Tools to Enhance Client success</b></p>
        <div class="d-flex flex-row justify-content-center">
            <img src="https://res.cloudinary.com/dhdpgmubv/image/upload/v1719574851/Semrush-logo_qhinyz.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="https://res.cloudinary.com/dhdpgmubv/image/upload/v1719574851/primary-light-AK6KQQMG_di20bb.webp" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="https://res.cloudinary.com/dhdpgmubv/image/upload/v1719574850/lockup_ic_Google_Analytics_vert_388px_clr_h16c0s.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="https://res.cloudinary.com/dhdpgmubv/image/upload/v1719574851/Moz_logo.svg_e3zsl3.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="https://res.cloudinary.com/dhdpgmubv/image/upload/v1719574850/screaming-frog_logo_knc9lc.png" alt="tool-Logo" class="seo-tool-logo"/>
         </div>
        <p class="overview-description text-center" style="margin-top: 10%;"><i>"As digital landscapes evolve, SEO remains crucial for online success. IAM Digipro is committed to maximizing your visibility and driving organic traffic. Contact us now to start your SEO journey with confidence."</i></p>
    </div>
    <!--enquiry form-->
    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
            <!-- <div class="arrow d-flex flex-row justify-content-center" style="margin-bottom: 5vw;">
                <i class="fa-solid fa-arrow-right arr-right"></i>
                <h1 class="services-ser">Enquiry</h1>
            </div> -->
            <div class="left-side">
                <p>Ready to elevate your <br> brand online? <br>
                <span class="span">Get a Free Consultation<br> Today!</span></p>
            </div>
            <div class="enquiry-background-container">
                <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
            </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
            <form>
                <h2>I am Interested in</h2>
                <div class="interest-buttons">
                    <div>
                        <button type="button"><span> Marketing</span></button>
                        <button type="button"><span>Web Development</span></button>
                    </div>
                    <div>
                        <button type="button"><span>Graphic Design</span></button>
                        <button type="button"><span>Consulting</span></button>
                        <button type="button"><span>Influencer Marketing</span></button>
                    </div>
                </div>
                <label for="name">I am</label>
                <input type="text" id="name" name="name" placeholder="John" required>
                <label for="Phone">Phone number</label>
                <input type="phone" id="phone" name="phone" required>
                <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
                <input type="email" id="email" name="email" placeholder="iam@gmail.com">
                <button type="submit" class="enquiry-send-button"><span>Send</span></button>
            </form>
        </div>
    </div>

</div>
</body>
</html>


    
